{% extends "base.html" %}
{% load i18n %}
{% block manage_head %}
<script type='text/javascript' language='javascript'>
$(document).ready(function() {
    $("#ShowReportBT").click(function() {
        $("#ShowReport").hide();
        return false;
    });

</script>
{% endblock %}
{% block welcome %}
					   <div class="source">
							{% load markup %}
							<div class="section">
								<h1> {{ title }}</h1>
								{% load markup %}
								{{ doc|restructuredtext }}
							</div>
							
                                    <!-- /.table-responsive -->
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>{% trans "Number" %}</th>
                                                    <th>{% trans "Name" %}</th>
                                                    <th>{% trans "Time" %}</th>
                                                    <th>{% trans "Reserve" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for queue in file_lists %}
                                                <tr>{% url 'helpdesk:list' as hdlist %}
                                                    <td><input type='checkbox' name='file_id' value='{{ queue.id }}'  /></td>
                                                    <td>{% if queue.open %}<a href='{{ hdlist }}?queue={{ queue.queue }}&status=1&status=2'>{% endif %}{{ queue.open }}{% if queue.open %}</a>{% endif %}</td>
                                                    <td>{% if queue.resolved %}<a href='{{ hdlist }}?queue={{ queue.queue }}&status=3'>{% endif %}{{ queue.resolved }}{% if queue.resolved %}</a>{% endif %}</td>
                                                    <td>{% if queue.closed %}<a href='{{ hdlist }}?queue={{ queue.queue }}&status=4'>{% endif %}{{ queue.closed }}{% if queue.closed %}</a>{% endif %}</td>
                                                </tr>
                                                {% empty %}
                                                <tr><td colspan='6'>{% trans "There are no unassigned tickets." %}</td></tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->



                                        <div class="panel-body">
                                            <form method='get' action='.'>
                                                <input class="btn btn-primary" type='submit' value='{% trans "Show Report" %}'>
                                            </form>
                                        </div>
                                        <p><label for='id_mass_action'>{% trans "If you query new report ,please delete all files and upload new files" %}</label>

                                        <div class="panel-body">
                                            <form method='get' action='.'>
                                                <input class="btn btn-primary" type='submit' value='{% trans "Delete All Files" %}'>
                                            </form>
                                        </div>
						</div>
{% endblock %}