{% extends "base.html" %}
{% load i18n %}
{%block chart_loader_header %}
<script type='text/javascript' language='javascript'>
$(document).ready(function() {

    $("#select_all").click(function() {
        $(".ticket_multi_select").attr('checked', true);
        return false;
    });
    $("#select_none").click(function() {
        $(".ticket_multi_select").attr('checked', false);
        return false;
    });
    $("#select_inverse").click(function() {
        $(".ticket_multi_select").each(function() {
            $(this).attr('checked', !$(this).attr('checked'));
        });
        return false;
    });
});
</script>
{% endblock %}
{% block welcome %}

					   <div class="source">
							{% load markup %}
							<div class="section">
								<h1> {{ title }}</h1>
								{% load markup %}
								{{ doc|restructuredtext }}
							</div>
                                    <div class="panel-body">
                                            <form method='post' action='{% url 'query_report'  %}' id="show_report">						
                                            <!-- /.table-responsive -->
                                                <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>{% trans "Select" %}</th>
                                                            <th>{% trans "Name" %}</th>
                                                            <th>{% trans "Time" %}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for queue in f_list %}
                                                        <tr>{% url 'helpdesk:list' as hdlist %}
                                                            <td><input type='checkbox' name='file_id' value='{{ queue }}' class='ticket_multi_select' /></td>
                                                            <td>{{ queue }}</td>
                                                            <td></td>
                                                        </tr>
                                                        {% empty %}
                                                        <tr><td colspan='6'>{% trans "There are no Record Files." %}</td></tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                </div>
                                            <!-- /.table-responsive -->
                                            <p><label>{% trans "Select:" %} </label>
                                                <a href='#select_all' id='select_all'><button class="btn btn-primary btn-sm"><i class="fa fa-check-circle"></i>&nbsp;{% trans "All" %}</button></a>
                                                <a href='#select_none' id='select_none'><button class="btn btn-primary btn-sm"><i class="fa fa-times-circle"></i>&nbsp;{% trans "None" %}</button></a>
                                            </p>
                                          <input class="btn btn-primary" type='submit' value='{% trans "Show Report" %}'>
                                           {% csrf_token %}</form>
                                        </div>

                                        <p><label for='id_mass_action'>{% trans "If you query new report ,please delete all files and upload new files" %}</label>

                                        <div class="panel-body">
                                            <form method='post' action='.' id="delete_all">{% csrf_token %}
                                                <input class="btn btn-primary" type='submit' value='{% trans "Delete All Files" %}'>
                                              </form>
                                        </div>
						</div>
{% endblock %}