{% extends "base.html" %}

{%block chart_loader_header %}
		{% load chartit %}
		{{ chart_list|load_charts:"c1,c2" }}
{% endblock %}	

{% block chart_code %}
		<div id="c1"></div>
		<div id="c2"></div>
{% endblock %}


{% load i18n %}
{% block welcome %}
					   <div class="source">
							{% load markup %}
							<div class="section">
								<h1> {{ title }}</h1>
								{% load markup %}
								{{ doc|restructuredtext }}
							</div>
							
                                            <!-- /.table-responsive -->
                                                <div class="table-responsive">
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>{% trans "Account" %}</th>
                                                            <th>{% trans "Group" %}</th>
                                                            <th>{% trans "Name" %}</th>
                                                            <th>{% trans "Broker" %}</th>
                                                            <th>{% trans "Currency" %}</th>
                                                            <th>{% trans "Leverage" %}</th>
                                                            <th>{% trans "Time" %}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for queue in f_list %}
                                                        <tr>{% url 'helpdesk:list' as hdlist %}
                                                            <td><input type='checkbox' name='file_id' value='{{ queue }}' class='ticket_multi_select' /></td>
                                                            <td>{{ queue }}</td>
                                                            <td></td>
                                                        </tr>
                                                        {% empty %}
                                                        <tr><td colspan='6'>{% trans "There are no Record " %}</td></tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                </div>
                                            <!-- /.table-responsive -->

						</div>
{% endblock %}